@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #24272b,
    #1f2229,
    #1b1d26,
    #181823,
    #17121f,
    #170f1d,
    #170b1b,
    #170619,
    #170619,
    #170619,
    #170619,
    #170619
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
